{% extends "Layouts/base.html"%}
{% block titulo %} Tasks {% endblock %}

{% block contenido %}
<div class="card-body">
  <h4 class="card-title">Tasks</h4>
  <ul>
    {% for task in tasks %}
    <li>
      <a href="{% url 'task_detail' task.id %}">
        <img src="https://img.icons8.com/ios/50/000000/edit.png" width="20" height="20" alt="edit">
      </a>
      {% if task.important == True %}
      <p>
        <strong class="text-danger" > {{ task.title }} </strong>
      </p>
      
      {% else %}
      <p>
        {{ task.title }}
      </p>
      {% endif %}
      <p> {{ task.description }} </p>
      <p> {{ task.user }} </p>
      <p> {{ task.date_completed|date:'M  j Y:i'}} </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}